# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env

# OS
.DS_Store
Thumbs.db

# API keys/config
config.json

# Optional: VSCode settings
.vscode/

# Optional: Mac system files
Icon?
